{% load static %}
<!DOCTYPE HTML>
<html LANG="en">

<head>


    <meta charset="UFT-8">
    <title>Boleta El Electricista</title>
    <meta name="description" content="Servicios Electricos"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/' %}"/>


    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/sent.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


</head>

<body>

<header>

    <div class="container-fluid">

        <div class="row">
            <div class="col-12 col-md-3">
                <img class="logo" src="{% static 'img/LogoAzul.png' %}">
            </div>

        </div>

    </div>


</header>


<section>

    <div class="container">
        <div class="row">

            <div class="col-4 col-md-5"></div>

            <div class="col-4 col-md-2">
                <svg viewBox="0 0 16 16" class="bi bi-check2-circle" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    <path fill-rule="evenodd"
                          d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z"/>
                </svg>
            </div>

            <div class="col-4 col-md-5"></div>

            <div class="col-4 col-md-5"></div>

            <div class="col-4 col-md-2">
                {% if form.solar_generation_capacity.value %} <h1 class="sentmessage">Boleta enviada</h1>
                {% else %} <h1 class="sentmessage">Boleta creada pero No enviada</h1> {% endif %}
            </div>

            <div class="col-4 col-md-5"></div>


        </div>

    </div>


    <div class="container">
        <div class="row">

            <div class="col-4 col-md-3 col-xl-2 m-auto graybtn" style="cursor: pointer;">
                <a href="{% url 'core:login' %}">
                    <svg viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path fill-rule="evenodd"
                              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                </a>
                <a href="{% url 'core:login' %}">
                    <h2 class="btnend">Nueva Boleta</h2>
                </a>
            </div>
            </a>

            <div class="col-4 col-md-3 col-xl-2 m-auto bluebtn" style="cursor: pointer;">
                <a href="https://storage.cloud.google.com/elelectricista/tmp/{{ slug }}.pdf">
                    <svg viewBox="0 0 16 16" class="bi bi-file-earmark-check" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M4 0h5.5v1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h1V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z"/>
                        <path d="M9.5 3V0L14 4.5h-3A1.5 1.5 0 0 1 9.5 3z"/>
                        <path fill-rule="evenodd"
                              d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                    </svg>
                </a>
                <a href="https://storage.cloud.google.com/elelectricista/boletas/{{ slug }}.pdf">
                    <h2 class="btnend">Ver Boleta</h2>
                </a>
            </div>


        </div>

    </div>


</section>


<footer>

</footer>


<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>
