@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');




.formline {
    margin-top: 5%;
}

.borderpc {
     display: block;
    width: 100%;
    float:right;
    background-color: black;
    height: 1px;
    margin-top: 6px;
    opacity: .5;
    margin-top: 2%;
    margin-bottom: 2%;
}



.btn {
    margin-top: 20%;
}

.title {
  font-family: 'Roboto', sans-serif;
    font-size: 200%;
    font-weight: 500;
    margin-bottom: 3%;
}

.titlesmall {
    font-family: 'Roboto', sans-serif;
    font-size: 120%;
    font-weight: 500;
    margin-bottom: 3%;
}

.borderdown {
    border: none;
}

.bordertablet {
    display: none;
}

@media screen and (min-width: 761px) and (max-width: 1200px) {
    
    .borderpc {
     display: none;
}
     .bordertablet {
      display: block;
    width: 100%;
    float:right;
    background-color: black;
    height: 1px;
    margin-top: 6px;
    opacity: .5;
    margin-top: 2%;
    margin-bottom: 2%;
}
     .title {
    font-size: 200%;
     margin-bottom: 5%;
     margin-top: 5%;
}
    
}

@media screen and (min-width: 1px) and (max-width:760px ) {
   
        .borderpc {
     display: none;
}
  
    .bordertablet {
    display: none;
}
    
 .title {
    font-size: 150%;
     margin-bottom: 10%;
     margin-top: 10%;
}
    
    .formlineborder {
    margin-top: 5%;
    border-bottom: none;
}
    
    .borderdown {
        border-bottom: 1px black solid;
        margin-bottom: 8%;
        
    }
    
    .btn {
    margin-top: 20%;
        margin-left: 20%;
}
    
}